<!-- <div class="modal fade modal-dialog modal-dialog-scrollable modal-dialog-centered" id="modal{{aviso.id}}" tabindex="-1" aria-labelledby="conteudoAviso" aria-hidden="true"  *ngFor="let aviso of avisos">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{aviso.titulo}}">{{aviso.titulo}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{aviso.descricao}}
      </div>
    </div>
  </div>
</div> -->

<div class="container shadow">
  <div class="title-container">
    <h3>QUADRO DE AVISOS</h3>
  </div>

  <div class="content-container row">

      <div class="aviso col-md-2 shadow" *ngFor="let aviso of avisos" data-bs-toggle="modal" attr.data-bs-target="#modal{{aviso.id}}">
        <span class="text-center"><strong> {{aviso.titulo}} </strong></span>
        <span><strong>Data: </strong> {{aviso.data}}</span>
      </div>

  </div>
</div>


