<div class="container shadow">
  <div class="title-container">
    <h3>QUADRO DE AVISOS</h3>
  </div>

  <div class="content-container row">


    <div class="avisos col-md-2 shadow" *ngFor="let item of avisos">

      <div class="aviso-content" (click)="onPopup()">
        <span><strong> {{item.titulo}} </strong></span>
        <span><strong>Data: </strong> {{item.data}}</span>
      </div>

    </div>

    <div class="popup" *ngFor="let item of avisos">
      {{item.descricao}}
    </div>

  </div>

</div>

